dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-style: solid;
    border-width: 1px;
}

form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: 10px;
    font-size: 16px;
}

form>div {
    display: flex;
    gap: 5px;
}

#todo-dialog button,#project-dialog button {
    padding: 2px 5px;
}
